/*Bulma Overrides*/
body, html {
  background-color: #F0F0F0;
  height: 100%;
}

.tag {
  background-color: transparent;
}

.navbar {
  box-shadow: 0px 1px 10px #CCC;
}

.logo h1 {
  font-size: 26px;
  font-weight: 700;
}

.logo h1 span {
  color: #00d1b2;
}

.checkout-form {
  max-width: 400px;
  margin: 40px auto;
}

.no-m {
  padding-bottom: 0;
}

.is-grouped {
  margin-top: 30px;
}

.signup {
  height: 600px;
  display: flex;
  align-items: center;
}

.bottom-pad {
  padding-bottom: 50px;
}

.cart {
  background-color: white;
  box-shadow: 0px 1px 10px #CCC;
  padding: 2.5em;
}

.table {
  width: 100%;
}

.table thead {
  background-color: #f5f5f5;
}

.qty {
  width: 50px;
}

.tag {
  cursor: pointer;
}

/*Card Styles */
.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
  box-shadow: 1px 5px 15px #CCC;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.product--green {
  background: -webkit-linear-gradient(135deg, #EF6F6C 50%, rgba(255,94,49, 0.5) 50%);
  background: linear-gradient(-45deg, #00d1b2 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}
.product_inner p {
  color: rgba(255, 255, 255, 0.9);
}

.product_inner strong {
  margin-top: 10px;
  text-transform: uppercase;
}

.product_inner a {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #FFF;
  border-radius: 3px;
  outline: none;
  font-size: 1em;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  -webkit-transition: background ease-in .25s;
  transition: background ease-in .25s;
}
.product_inner a:hover {
  background: white;
  color: #2B2D42;
}
.product_inner a:before {
  font-family: FontAwesome;
  content: '\f07A';
  color: #FFF;
  position: absolute;
  font-size: 1.5em;
  margin: -7px -1.5em;
}
.product_inner a:hover:before {
  color: #2B2D42;
}
.product_overlay {
  color: white;
  background: rgba(0, 209, 178, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-500px);
  transform: translateY(-500px);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product_overlay h2 {
  font-size: 1.2em;
  margin: 1em 0;
}
.product_overlay i {
  font-size: 3em;
}
